<div class="jumbotron mt4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quidem harum praesentium voluptates
        quos? Officia!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate at soluta similique doloremque earum
        perferendis saepe! Tenetur ipsum aliquid corrupti.</p>
    <a class="btn btn-primary btn-lg" href="http://faztweb.com" role="button">Sports to do</a>

</div>