<div class="jumbotron mt4">
    <h1 class="display-4">Sports to Do</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p>Where to register all notes for all the sports to do.</p>
    <a class="btn btn-primary btn-lg" href="https://www.facebook.com/sportsToD0" role="button">Sports to do Facebook</a>

</div>