<h1>Navigation </h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi nisi quo quis quisquam amet quasi culpa. Fuga sed
    a, sapiente quasi id accusantium minima ratione, illum deleniti modi officiis sint!</p>

<h1>Footer</h1>