<div class="row">
    {{#each notes}}
    <pre>{{this}}</pre>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{ title }} <i class="fas fa-pencil"></i>
                </h4>
               <p>{{description}}</p> 
            </div>
        </div>
    </div>
    {{/each}}
</div>